<div class="row">
    <div class="col-5">
        <h1>Names greeted</h1>
        <table>
            {{#each nameList}}
            <tr>
                <td><a href="/counter/{{name}}">{{name}}</a></td>
            </tr>
            {{/each}}
        </table>


        {{!-- {{#if messages.info}}
        <div class="entry">
            <h1> {{messages.info}}</h1>
        </div>
        {{/if}} --}}
    </div>
</div>