 <div class="row">
    <div class="col-12">
        <div class="peopleGreeted">
        <table>
            
            {{#each name}}
            <tr>
                <td>{{name}}</td>
                <td>{{times_greeted}}</td>
            </tr>
            {{/each}}
        </table>
    
    </div>
    </div>
</div>
